.hoverText {
  transition:
    0.35s font-weight,
    0.35s color;
}

.hoverText:hover {
  font-weight: 900 !important;
  color: rgb(255, 255, 255);
}

/* To the right */
.hoverText:hover + .hoverText {
  font-weight: 700 !important;
  color: rgb(255, 255, 255);
}

.hoverText:hover + .hoverText + .hoverText {
  font-weight: 500 !important;
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
  font-weight: 700 !important;
  color: rgb(255, 255, 255);
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
  font-weight: 500 !important;
}
